:root {
    --blue: #3772ff;
    --black: #080708;
    --red: #df2935;
    --yellow: #fdca40;
    --white: #e6e8e6;
}

body {
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    background: var(--white);
    color: var(--black);
}
/* Header / Nav */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--blue);
    color: var(--yellow);
    min-height: 115px;
    min-width: 100%;
    margin-bottom: 0px;
}

h1 {
    font-size: 3rem;
    margin-left: 50px;
}

h2 {
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 10px;
}

nav {
    margin-right: 50px;
    min-width: 300px;
}

nav ul {
    display: flex;
    min-width: 300px;
}

nav a {
    color: var(--yellow);
    padding: 15px 20px;
    text-decoration: none;
    font-size: 2rem;
    border: 5px solid var(--black);
    margin-right: 20px;
    box-shadow: 5px 5px 10px black;
}

/* About me section */
#about-me-container {
    min-width: 100%;
    max-height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 15px ridge var(--blue);
    border-top: 15px groove var(--blue);
    border-right: 102px solid var(--blue);
    border-left: 102px solid var(--blue);
}

#about-paragraph {
    font-family: sans-serif;
    font-size: 25px;
    max-width: 750px;
    padding: 10px;
    border: 5px double var(--black);
    border-style: double none double none;
    margin-left: 100px;
    margin-right: 50px;
}


#about-me-picture {
    display: inline-block;
    border: 10px solid var(--black);
    box-shadow: 5px 5px 10px black;
    margin-right: 100px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 65%;
}
/* Section Headers */
.article-header {
    padding: 50px;
    background: var(--blue);
    color: var(--yellow);
    border: 5px solid var(--black);
    border-style: inset inset inset inset;
}
/* Paragraph specific text settings */
#bonus-text {
    font-size: 75%;
    font-style: oblique;
}
/* My work section */
#my-work-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 15px groove var(--blue);
    border-bottom: 15px ridge var(--blue);
    border-right: 102px solid var(--blue);
    border-left: 102px solid var(--blue);
}

#work-display-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    max-width: 50%;
    min-height: 550px;
    margin-right: 16%;

}
/* Big project section */
#big-project {
    display: flex;
    max-width: 100%;
    min-width: 1%;
}

#big-project-img {
    display: inline-block;
    padding: 0px;
    min-width: 1%;
    max-width: 100%;
    min-height: 1%;
    max-height: 100%;
    border: 5px solid var(--black);
    box-shadow: 5px 5px 10px var(--black);
}

#big-project figure figcaption {
    padding: 10px;
    background: var(--blue);
    color: var(--yellow);
    border: 5px solid var(--black);
    border-style: inset inset inset inset;
    font-family: monospace;
    text-align: center;
    max-width: 25%;
    margin-top: 10px;
}
/* Small project section */
.small-project {
    display: inline-block;
    min-width: 0px;
    max-width: 25%;

}

.small-project img {
    display: inline-block;
    border: 5px solid var(--black);
    margin-top: 0px;
    min-width: 1%;
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px var(--black);
}

.small-project figcaption {
    padding: 5px;
    background: var(--blue);
    color: var(--yellow);
    border: 5px solid var(--black);
    border-style: inset inset inset inset;
    font-family: monospace;
    text-align: center;
    max-width: 100%;
    margin-top: 10px;
    
}
/* Contact me section */
#contact-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 15px groove var(--blue);
    border-bottom: 15px ridge var(--blue);
    border-right: 102px solid var(--blue);
    border-left: 102px solid var(--blue);
    min-height: 300px;
}

#contact-ul {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
}

#contact-ul li {
    color: var(--yellow);
    background: var(--blue);
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.7rem;
    border: 5px solid var(--black);
    margin-right: 20px;
    box-shadow: 5px 5px 10px black;
    border-radius: 50%;
}

#contact-ul li a {
    color: var(--white);
    list-style: none;
}

/* Hovers */
nav a:hover {
    border: 5px solid var(--white);
    box-shadow:5px 5px 10px var(--white);
    background-color: var(--black);
}

#big-project-img:hover {
    box-shadow: inset 5px 5px 10px gray;
}

#sp1:hover {
    box-shadow: inset 10px 10px 10px black;
}

#sp2:hover {
    box-shadow: inset 10px 10px 10px black;
}

#sp3:hover {
    box-shadow: inset 10px 10px 10px black;
}

#contact-ul li:hover {
    box-shadow: inset 5px 5px 10px black;
}
