:root {
    --blue: #3772ff;
    --black: #080708;
    --red: #df2935;
    --yellow: #fdca40;
    --white: #e6e8e6;
}

body {
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    background: var(--white);
    color: var(--black);
}
/* Header / Nav */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--blue);
    color: var(--yellow);
    min-height: 115px;
    min-width: 100%;
    margin-bottom: 0px;
}

h1 {
    font-size: 3rem;
    margin-left: 50px;
}

h2 {
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 10px;
}

nav {
    margin-right: 50px;
    min-width: 300px;
}

nav ul {
    display: flex;
    min-width: 300px;
}

nav a {
    color: var(--yellow);
    padding: 15px 20px;
    text-decoration: none;
    font-size: 2rem;
    border: 5px solid var(--black);
    margin-right: 20px;
    box-shadow: 5px 5px 10px black;
}

/* About me section */
#about-me-container {
    min-width: 100%;
    max-height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 15px ridge var(--blue);
    border-top: 15px groove var(--blue);
    border-right: 102px solid var(--blue);
    border-left: 102px solid var(--blue);
    /* border: 5px dotted green; */
}

#about-paragraph {
    font-family: sans-serif;
    font-size: 25px;
    max-width: 750px;
    padding: 10px;
    border: 5px double var(--black);
    border-style: double none double none;
    margin-left: 100px;
    margin-right: 50px;
}


#about-me-picture {
    display: inline-block;
    border: 10px solid var(--black);
    box-shadow: 5px 5px 10px black;
    margin-right: 100px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 65%;
    min-width: 35%;
}
/* Section Headers */
.article-header {
    padding: 50px;
    background: var(--blue);
    color: var(--yellow);
    border: 5px solid var(--black);
    border-style: inset inset inset inset;
}
/* Paragraph specific text settings */
#bonus-text {
    font-size: 75%;
    font-style: oblique;
}
/* My work section */
#my-work-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 15px groove var(--blue);
    border-bottom: 15px ridge var(--blue);
    border-right: 102px solid var(--blue);
    border-left: 102px solid var(--blue);
}

#work-display-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    max-width: 50%;
    min-height: 550px;
    margin-right: 16%;

}
/* Big project section */
#big-project {
    display: flex;
    max-width: 100%;
    min-width: 1%;
}

#big-project-img {
    display: inline-block;
    padding: 0px;
    min-width: 1%;
    max-width: 100%;
    min-height: 1%;
    max-height: 100%;
    border: 5px solid var(--black);
    box-shadow: 5px 5px 10px var(--black);
}

#big-project figure figcaption {
    padding: 10px;
    background: var(--blue);
    color: var(--yellow);
    border: 5px solid var(--black);
    border-style: inset inset inset inset;
    font-family: monospace;
    text-align: center;
    max-width: 25%;
    margin-top: 10px;
}
/* Small project section */
.small-project {
    display: inline-block;
    min-width: 0px;
    max-width: 35%;

}

.small-project img {
    display: inline-block;
    border: 5px solid var(--black);
    margin-top: 0px;
    min-width: 1%;
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px var(--black);
}

.small-project figcaption {
    padding: 5px;
    background: var(--blue);
    color: var(--yellow);
    border: 5px solid var(--black);
    border-style: inset inset inset inset;
    font-family: monospace;
    text-align: center;
    max-width: 100%;
    margin-top: 10px;
    
}
/* Contact me section */
#contact-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 15px groove var(--blue);
    border-bottom: 15px ridge var(--blue);
    border-right: 102px solid var(--blue);
    border-left: 102px solid var(--blue);
    min-height: 300px;
}

#contact-ul {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
}

#contact-ul li {
    color: var(--yellow);
    background: var(--blue);
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.7rem;
    border: 5px solid var(--black);
    margin-right: 20px;
    box-shadow: 5px 5px 10px black;
    border-radius: 50%;
    text-align: center;
}

#contact-ul li a {
    color: var(--white);
    list-style: none;
}
/* Footer section */
footer {
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-top: 15px groove var(--blue);
    border-bottom: 15px ridge var(--blue);
    border-right: 700px solid var(--blue);
    border-left: 700px solid var(--blue);
}

footer h2 {
    font-size: 20px;
}

/* Hovers */
nav a:hover {
    border: 5px solid var(--white);
    box-shadow:5px 5px 10px var(--white);
    background-color: var(--black);
}

#big-project-img:hover {
    box-shadow: inset 5px 5px 10px gray;
}

#sp1:hover {
    box-shadow: inset 10px 10px 10px black;
}

#sp2:hover {
    box-shadow: inset 10px 10px 10px black;
}

#sp3:hover {
    box-shadow: inset 10px 10px 10px black;
}

#sp4:hover {
    box-shadow: inset 10px 10px 10px black;
}

#contact-ul li:hover {
    box-shadow: inset 5px 5px 10px black;
}
/* Small desktop response */
@media screen and (max-width: 1512px) {
    .article-header {
        white-space: nowrap;
    }
    #about-me-picture {
        min-width: 35%;
        max-width: 55%;
    }
    #about-paragraph {
        padding: 3px;
        max-width: 45%;
    }
    #about-paragraph p {
        margin: 0px;

    }
    footer {
        border-right: 500px solid var(--blue);
        border-left: 500px solid var(--blue);
    }
}
@media screen and (max-width: 1080px) {
    #header-container {
        justify-content: center;
        max-width: 100%;
    }
    .article-header {
        padding: 20px;
        font-size: 1.5rem;
        white-space: nowrap;
    }
    #about-me-container {
        justify-content: space-around;
    }
    #about-paragraph {
        padding: 3px;
        max-width: 33%;
    }
    #about-paragraph p {
        margin: 0px;
        font-size: 18px;
    }
    #about-me-picture {
        margin-left: 30px;
        min-width: 55%;
        border: 5px solid var(--black);
    }
    #big-project figure figcaption {
        white-space: nowrap;
        max-width: 55%;
    }
    .small-project figure figcaption {
        font-size: 13px;
    }
    #nav-container {
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
    nav ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #my-work-container {
        flex-wrap: wrap;
        max-height: 50%;
        min-height: 10%;
        margin: 0px;
        padding: 0px;
    }
    #work-display-box {
        min-height: 10%;
        min-width: 66%;
        padding: 0px;
        margin-right: 67px;
    }
    #contact-me-container {
        margin: 0px;
    }
    #contact-ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #contact-ul li {
        border-radius: 0%;
        font-size: 1.1rem;
        margin: 10px;
    }
    footer {
        border-right: 300px solid var(--blue);
        border-left: 300px solid var(--blue);
    }
}
/* Tablet screen response */
@media screen and (max-width: 992px) {
    #header-container {
        justify-content: center;
        max-width: 100%;
    }
    .article-header {
        padding: 20px;
        font-size: 1.5rem;
        white-space: nowrap;
    }
    #about-me-container {
        justify-content: space-around;
    }
    #about-paragraph {
        padding: 3px;
        max-width: 33%;
    }
    #about-paragraph p {
        margin: 0px;
        font-size: 15px;
    }
    #about-me-picture {
        margin-left: 30px;
        min-width: 55%;
        border: 5px solid var(--black);
    }
    #big-project figure figcaption {
        white-space: nowrap;
        max-width: 55%;
    }
    .small-project figure figcaption {
        font-size: 13px;
    }
    #nav-container {
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
    nav ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #my-work-container {
        flex-wrap: wrap;
        max-height: 50%;
        min-height: 10%;
        margin: 0px;
        padding: 0px;
    }
    #work-display-box {
        min-height: 10%;
        min-width: 66%;
        padding: 0px;
        margin-right: 67px;
    }
    #contact-me-container {
        margin: 0px;
    }
    #contact-ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #contact-ul li {
        border-radius: 0%;
        font-size: 1.1rem;
        margin: 10px;
    }
    footer {
        border-right: 300px solid var(--blue);
        border-left: 300px solid var(--blue);
    }
}
/* Phone screen response */
@media screen and (max-width: 768px) {
    .article-header {
        max-width: 50%;
        font-size: 2.5rem;
        margin: 20px;
    }
    #about-me-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        padding: 0px;
    
    }
    #about-paragraph {
        margin: 20px;
        min-width: 90%;
        justify-content: center;
    }
    #about-paragraph p {
        min-width: 90%;
        font-size: 25px;
    }
    #about-me-pic-fig {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #about-me-picture {
        max-height: 50%;
        max-width: 50%;
        margin: 20px;
        padding: 0px;
    }
    #my-work-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }
    #big-project figure figcaption {
        max-width: 100%;
    }
    #big-project-img {
        margin: 0px;
    }
    #big-project {
        margin: 0px;
    }
    #work-display-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .small-project figure figcaption {
        max-width: 100%;
    }
    .small-project {
        max-width: 90%;
    }
    #contact-me-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        max-height: 100%;
        max-width: 100%;
    }
    #contact-ul {
        flex-direction: column;
        white-space: nowrap;
        font-size: 2.5rem;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
